In [1]:
import sklearn
import pandas as pd
import numpy as np

In [4]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [14]:
df = pd.read_table('http://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', sep=",", names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "eval"])

In [16]:
#show dataframe first 5 entries
df.head()

  buying  maint doors persons lug_boot safety   eval
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [17]:
# check the rows and columns of dataframe
df.shape

(1728, 7)

In [18]:
# check if dataframe contain any null value
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [buying, maint, doors, persons, lug_boot, safety, eval]
Index: []

In [ ]:
# check the distribution of our data
# this help us in two things
# 1. we know if our data is uniformly distributed or skewed
# 2. it help us in choosing our model